*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font for whole site */
body{
    font-family: 'Poppins', sans-serif;
}

/* Effect on the logo*/
#Aliroad{
    transition: 0.5s;
}
#Aliroad:hover{
    transform: rotateY(360deg);
}

/* Navigation bar */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}

/* This is for the unordered list in the navbar*/
nav ul{
    display: inline-block;
    /* No more bullet points*/
    list-style-type: none;
}

nav ul li {
    display: inline-block;
     /* Horizontal blocks with spaces between links in menu*/
    margin: right;
    padding: 20px;
}

a{
    /* Removes the underscores/lines and menu text have the same color */
    text-decoration: none;
    color: #000;
}

/* Paragraphs have the same color*/
p{
    color: #666
}

.container{
    max-width: 1500px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* Two columns, welcome text and pic */
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

/* For the welcome pic */
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

/* Welcome text */
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    /*space from top to bottom*/
    margin: 25px 0;
}

/* Start button and hover effect */
.btn{
    display: inline-block;
    background: #C49BBB;
    color: #fff;
    padding: 10px 30px;
    margin: 30px 0;
    border-radius: 20px;
    transition: background 0.5s;
}
.btn:hover{
    background: #666;
}

/* For login and register button with effect*/
.btnUser{
    display: inline-block;
    background: #C49BBB;
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    transition: background 0.5s;
}

.header{
    background: radial-gradient(#fff,#D1BCE3);
}

.header .row{
    margin-top: 100px;
}

.categories{
    margin: 70px 0;
}


/* For the text for featured categories/product */
#title{
    text-align: center;
    margin: 0 auto 60px;
    position: relative;
    line-height: 60px;
    color: #000
}

#title::after{
    content: '';
    background: #C49BBB;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    /* move in x-axis*/
    transform: translateX(-50%);

}

.col-3{
    flex-basis: 20%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}
.col-3:hover{
    transform: translateY(-20px);
}

.col-3 img{
    /* should be 100%, pictures are different size*/
    width: 100%;
}

.small-container{
    max-width: 2000px;
    margin: auto;
    padding-left: 30px;
    padding-right: 0;
}

.col-1{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-1 img{
    width: 100%;
}

.col-1 p{
    font-size: 22px;
}

.col-1:hover{
    transform: translateY(-20px)
}

.rating .fa{
    font-size: 44px;
    color: rgb(34, 36, 36);
}

/* footer */

.footer{
    background: #000;
    color: #666;
    font-size: 20px;
    padding: 60px 0 20px;
}

.footer p{
    color: #666
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}


