*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

#Aliroad{
    transition: 0.5s;
}
#Aliroad:hover{
    transform: rotateY(360deg);
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}

/* This is for the unordered list*/
nav ul{
    display: inline-block;
    /* No more bullet points*/
    list-style-type: none;
}

nav ul li {
    display: inline-block;
     /* Horizontal blocks with spaces between links in menu*/
    margin: right;
    padding: 20px;
}

a{
    /* Removes the underscores/lines and menu text have the same color */
    text-decoration: none;
    color: #000;
}

/* Paragraphs have the same color*/
p{
    color: #666
}

.container{
    max-width: 1500px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

/* Two columns */
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

/* Welcome text */
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    /*space from top to bottom*/
    margin: 25px 0;
}

/* Start button */
.btn{
    display: inline-block;
    background: #C49BBB;
    color: #fff;
    padding: 10px 30px;
    margin: 30px 0;
    border-radius: 20px;
    transition: background 0.5s;
}
.btn:hover{
    background: #666;
}

.btnUser{
    display: inline-block;
    background: #C49BBB;
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    transition: background 0.5s;
}
.btnUser:hover{
    background: #666;
}

.header{
    background: radial-gradient(#fff,#D1BCE3);
}

.header .row{
    margin-top: 100px;
}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    /* should be 100%, pictures are different size*/
    width: 100%;
}

.small-container{
    max-width: 2000px;
    margin: auto;
    padding-left: 30px;
    padding-right: 0;
}